@import './app/colors.scss';

html,
body {
  padding: 0;
  margin: 0 !important;
}

// footer style
footer {
  position: fixed;
  bottom: 0;
  font: normal 13px sans-serif;
  background-color: #313b3f;
  width: 100%;
  padding: 5px;
  text-align: center;
  a {
    color: white;
  }
}
